version: "3.9"

services:
  db:
    image: postgres:16
    container_name: finance_db
    environment:
      POSTGRES_USER: finance_user
      POSTGRES_PASSWORD: finance_pass
      POSTGRES_DB: finance_db
    ports:
      - "5432:5432"
    volumes:
      - ./pgdata:/var/lib/postgresql/data  # <- bind mount

# no `volumes:` block needed for bind mount

